{% extends 'base.html.twig' %}


{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
		
	<section class="page-section bg-primary" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="text-white mt-0">W</h2>
					<hr class="divider divider-light"/>
					<p class="text-white-75 mb-4"></p>
					<a class="btn btn-light btn-xl" href="#services">!</a>
				</div>
			</div>
		</div>
	</section>

</section>{% endblock %}
